#projectlogo img[src="ultrahapticslogo.png"] { 
    width: 230px;
    height: 52px;
}

.crisp_edges {
    /* See https://developer.mozilla.org/en/docs/Web/CSS/image-rendering */
    
    image-rendering: -moz-crisp-edges;         /* Firefox */
    image-rendering:   -o-crisp-edges;         /* Opera */
    image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */
}

/* Make the Classes menu item bold. */
#nav-tree-contents a[href="annotated.html"] {
    font-weight: bold;
}

/* Add space before the Modules menu item and a line above it. */
#nav-tree-contents > ul > li > ul > li:nth-last-child(4) {
    margin-top: 5px;
    padding-top: 5px;
    border-top: 1px solid #64ab6d;
}

/* Add space before the Release Notes menu item and a line above it. */
#nav-tree-contents > ul > li > ul > li:nth-last-child(6) {
    margin-top: 5px;
    padding-top: 5px;
    border-top: 1px solid #64ab6d;
}

h1 {
    font-size: 150%;
}

h2 {
    font-size: 130%;
}